{block content}
<div class="container">
<div class="content">
    <h1>Nastavenia </h1>
    Úprava informácií o uživateľovi. Nezabudni kliknúť na Uložiť na spodu stránky.
    <h2> Osobné informácie</h2>
    {control changeInfoForm}
    <h2> Adresy doručenia</h2>
    {*control changeInfoForm*}
</div>
</div>
{/block}
{block scripts}
<script>

{/block}